@model UserRegisterationModel

@{
    ViewData["Title"] = "SignUp";
}

<h3 class="text-center my-3">SignUp</h3>

<div class="container">
    <div class="row justify-content-center my-3">
<form asp-action="SignUp" class="col-md-6" asp-controller="Authentication" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input asp-for="ConfirmPassword" class="form-control">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RegisterAsServiceProvider" class="form-label"></label>
        <input type="checkbox" asp-for="RegisterAsServiceProvider" class="">
        <span asp-validation-for="RegisterAsServiceProvider" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="SignUp">
</form>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}